<script>
  window.gameName = "<%= @game_name %>";
  window.uName = "<%= @uName %>";
</script>

<div class="row">
  <div class="column">
    <h1>Battleship: <%= @game_name %></h1>
    <div id="root">
      React component loading...
    </div>
  </div>
</div>

