/* This file is for your main application css. */

@import "~milligram/dist/milligram";

#p1 {
    background-color: LightGray;
}

#p2 {
    background-color: LightBlue;
}

.tile {
    border: 1px solid black;
    text-align: center;
}

.hover {
    background-color: Red;
}

.S {
   background-color: Blue;
}

.H {
    background-color: Black;
}

.M {
    background-color: Yellow;
}
