/* This file is for your main application css. */

@import "~milligram/dist/milligram";

#thisplayer {
    background-color: LightGray;
}

#opponent {
    background-color: LightBlue;
}

.tile {
    border: 1px solid black;
    text-align: center;
    height: 50px;
    width: 50px;
}

.hover {
    background-color: Red;
}

.S5 {
   background-color: Blue;
}

.S4 {
   background-color: Blue;
}

.S3 {
   background-color: Blue;
}

.H {
    background-color: Black;
}

.M {
    background-color: Yellow;
}
