/* This file is for your main application css. */

@import "~milligram/dist/milligram";

#thisplayer {
    background-color: LightGray;
}

#opponent {
    background-color: LightBlue;
}

.tile {
    border: 1px solid black;
    text-align: center;
}

.hover {
    background-color: Red;
}
